

header {
    padding: 0;
    margin: 0;
}

.row{
    margin-right: 0;
}


body {
    background-image: url(../images/background-site.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*button img{
    transform : rotate(0);
    transition : all 1s;
}


button img:hover{
    transform : rotate(180deg);
}*/


footer {
    position: fixed;
}

.jumbotron{
    background-color: transparent;
}

@media (max-width: 767.98px) {
    #textHeader {
        font-size: large;
        font-weight: bold;
    }
    section h3, aside h3 {
        font-size: large;
        font-weight: bold;
    }
    footer {

        font-size: small;
    }
}

